<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Saira:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <title>asity</title>
    <style>
      * { margin: 0; padding: 0; font-family: Saira; } body { min-height: 100vh;
      display: grid; place-content: center; } div { width: 50vh; display: flex;
      justify-content: space-between; } input, select { width: 60%; border: 1px
      solid gray; border-radius: 0; background: none; outline: none; padding:
      0.6rem 1rem; margin-bottom: 1rem; } input[type="submit"] { border: none;
      background: dodgerblue; width: 100%; color: white; }

    </style>
  </head>
  <body>
    <form method="post">
      <div>
        <label for="username">Username</label>
        <input id="username" name="username" />
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" name="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" name="password" />
      </div>
      <div>
        <label for="state">State</label>
        <select name="state" id="state">
          <option value="assam">assam</option>
          <option value="delhi">delhi</option>
          <option value="odisha">odisha</option>
          <option value="kashmir">kashmir</option>
        </select>
      </div>
      <input type="submit" value="Push" />
    </form>
    <a href="/success">success</a>
    {{! <form method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <input type="submit" value="Push" />
    </form> }}

  </body>
</html>