<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Saira:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <title>asity.successfull</title>
    <style>
      * { margin: 0; padding: 0; font-family: Saira; } body { min-height: 100vh;
      display: grid; place-content: center; }
    </style>
  </head>
  <body>
    <h1>Great, everything is correct</h1>
  </body>
</html>